body{
    background-color: #E1C699;
    color: black;
    font-family: courier;
}

a:link, a:visited, a:link:active, a:visited:active{
    color: black;
    text-decoration: none;               
}

#header{
    text-align: center;
    size: 3em;
}

#title{
    width: 400px;
    font-size: 1em;
    text-align: center;
}

#subTitle{
    font-size: 0.8em; 
}

.headerNav{
    list-style-type: none;
    text-align: center;
}

#content{
    width: 100%;
}

#navbar{
    border: double green;
    padding: 1em;
    width: 150px;
    color: black;
    float: left;
    position: fixed;
} 

.category{
    font-weight: bold;
}

#main{
    border: double green;
    padding: 1em;
    left: 200px;
    width: calc(100% - 250px);
    position: relative;
}    

#boardTitle{
    width: 60%;
    margin:auto;
    text-align: center;
}   

#threadForm{
    width: 300px;
    height: 150px;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
    border: double green;
}

#comment{
    height: 6em;
    width: 15em;
}

.thread{
    margin-bottom: 2em;
    vertical-align: text-top;
}

.opHeader{
    vertical-align: top;
}

.post{
    border: double green;
    padding: 1em;
    margin: 0.5em;
    margin-left: 2em;
}  

.OP{
    margin-left: 0em;
    border: double green;
    padding: 1em;
}

#loginHeader{
    text-align: center;
}

.cleanForm{
    width: 500px;
    margin:auto;
    display: block;
    text-align: center;
    border: double black;
    padding-top: 1em;
    padding-bottom: 1em;
}

.invalidFeedback{    
    color:red;
}

#login{
    
}

.image{
    max-width: 200px;
}

footer{
    text-align: right;
    padding-top: 1em;
    bottom: 0;
    position: relative;
}

.profileHeader{
    font-weight: bold;
}